body {
    background-color: #171717;
    color: #ffffff;
}

header {
    width: 100%;
    padding: 1%;
    
    text-align: center;

    font-size: 24px;
    line-height: 27px;
}

a {
    color: #c19f54;
}
a:hover {
    color: #c19f54;
    text-decoration: underline;
}

:focus {
    outline: 0 !important;
}

i {
    color: #c19f54 !important;
}

img {
    border-radius: 50%;
    opacity: 0.8;
}
img:hover {
    opacity: 1;
}

.pagination {
    width: 80%;
    margin: 0.5% auto 0% auto;
}
.pagination .page-item {
    width: 50%;
}
#next {
    text-align: right;
}

.page-link {
    color: #c19f54;
    background: inherit;
}

.page-link: hover {
    background: inherit;
}

#acc {
    margin: 0 10%;
    width: 80%;
    height: 80%;
}

.panel-group {
    margin: 5px 0px;
    font-size: 16px;
}

.panel a {
    text-decoration: none;
}

.panel-heading {
    background-color: #242424;
    padding: 1% 1%;
    opacity: 0.8;
}
.panel-heading:hover {
    opacity: 1;
}

.panel-title {
    font-size: 16px;
    line-height: 19px;
    font-weight: lighter;

    margin: 0;
}

.panel-collapse {
    min-height: 90px;
    font-size: 13px;

    border-top: 1px solid #c19f54;
}

.panel-body-tab {
    float: left;
    padding: 0.5% 1% 0.5% 0%;
}

.project-title {
    color: #c19f54;
}
.project-summary {
    color: #ffffff;
}